@model MVCModelAndAnnotationAndValidation.Models.ViewModels.UserWiseRole

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserWiseRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TblRole.RoleName_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblRole.RoleName_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
