@model MVCModelAndAnnotationAndValidation.Models.ViewModels.Company

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="bg-danger">Are you sure you want to delete this?</h3>
<div class="table table-responsive">   
    <hr />
    <table class="table table-bordered table-responsive">
        <tr class="bg-primary">
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
            <th> @Html.DisplayNameFor(model => model.Company1)</th>
            <th> @Html.DisplayNameFor(model => model.Phone)</th>
            <th> @Html.DisplayNameFor(model => model.Email)</th>
            <th> @Html.DisplayNameFor(model => model.EstDate)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model=>model.Id)</td>
            <td>@Html.DisplayFor(model => model.Company1)</td>
            <td>@Html.DisplayFor(model => model.Phone)</td>
            <td> @Html.DisplayFor(model => model.Email)</td>
            <td>@Html.DisplayFor(model => model.EstDate)</td>
        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
